PORT=3000
NODE_ENV=development

# Update with your Postgres credentials if needed
# Format: postgres://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=postgres://alex:postgres@localhost:5432/jobnative_digital_api_dev

